/* COMP4537 Lab1
name: Oy Kwan Kevin Ng
bcit-id: A01341525 */

:root{
    --main-color:rgb(20, 128, 235);
    --second-color:rgb(238, 242, 247);
}

html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: light;

}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

form {
    border: 1px solid var(--dark-color);
    padding: 10px;            
    background:linear-gradient(290deg, 
                        var(--second-color), 
                        var(--second-color) 85%, 
                        var(--main-color) 100%);
    box-shadow: 0px 0px 0px 1px var(--second-color), 
                0px 0px 3px 3px var(--main-color);
    border-radius: 10px;
    margin-bottom:15px;
    color:var(--main-color);
    max-width:400px;
}


.input-label-group{      
    margin-bottom:5px;
    display: flex;
    flex-direction: column;
}

.input-label-group input{      
    border-radius: 5px;    
    padding:2px 5px;
    font-weight: bold;
    color:var(--main-color);
    margin-bottom:3px;

    transition:all .2s ease;
}
.input-label-group input:focus{      
    background-color: var(--main-color);
    color:var(--light-color);
    outline:none; 
   
}
.input-label-group label{
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: bold;        
    border:solid 1px var(--main-color);
    border-radius: 5px;
    padding:2px 5px;
    margin:3px 5px;    
}


input[type='color']{
    width:100%;
}

input[type='submit']{
    border-radius: 5px;
    background-color: var(--main-color);
    color:var(--light-color);
    border:solid 3px var(--second-color-transparent);
    font-weight:bold;
    padding:5px;
    margin:3px;
    transition: all 0.2s ease;
}

input[type='submit']:hover
input[type='submit']:focus{
    border:solid 3px var(--main-color);
    background-color: var(--second-color);
    color:var(--main-color);
    cursor:pointer;
}

textarea{
    border-radius: 5px;
    padding:2px 5px;
    font-weight: bold;
    color:var(--main-color);
    margin-bottom:10px;
    transition:all .2s ease;
}

#writer_time_txt{
    font-size: 0.8em;
    color: var(--main-color);
    text-align: right;
    margin-top: 5px;
    margin-bottom: 50px;
}

#reader_time_txt{
    font-size: 0.8em;
    color: var(--main-color);
    text-align: right;
    margin-top: 5px;
    margin-bottom: 50px;
}

